@model IEnumerable<CW2.Models.Comment>

<table class="table table-hover table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommentDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.UserName)
            </td>

            <td>
                @if (item.Student.UserName == (this.User.Identity.Name))
                {
                    @Html.ActionLink("Edit", "Edit", "Comments", new { id = item.Id }, null) 
                    <b>|</b>
                    @Html.ActionLink("Delete", "Delete", "Comments", new { id = item.Id }, null)
                }
            </td>
        </tr>
    }
</table>

